<head>
  <style>
   span {
       margin:5.5 auto;
   }
   .tax_del, .godown_del{
       color:#000000;
   }
  </style>
</head>
<body>

  <div class="container-fluid " style="padding:1 !important; margin:0 !important;" >

    <div class=' addprod panel'>

      <div class="panel-body">
        {% if not extrabuttons %}
        <div class="col-sm-12">
          <div class="alert alert-success" id="addproduct-success-alert"  aria-live="rude" role="alert" hidden>

            {% trans %}Product saved successfully and corresponding accounts created.{% endtrans %}
          </div>

	  <div class="alert alert-success" id="addservice-success-alert"  aria-live="rude" role="alert" hidden>

            {% trans %}Service saved successfully and corresponding accounts created.{% endtrans %}
          </div>

          <div class="alert alert-success" id="editproduct-success-alert"  aria-live="rude" role="alert" hidden>

            {% trans %}Product and corresponding accounts edited successfully.{% endtrans %}
          </div>
          <div class="alert alert-success" id="deleteproduct-success-alert"  aria-live="rude" role="alert" hidden>

            {% trans %}Product deleted successfully.{% endtrans %}
          </div>
          <div class="alert alert-success" id="deleteservice-success-alert"  aria-live="rude" role="alert" hidden>

            {% trans %}Service deleted successfully.{% endtrans %}
          </div>
          <div class="alert alert-danger" id="duplicate-unit-alert"  aria-live="rude" role="alert" hidden>

            {% trans %}This unit exists. Please select it from the list.{% endtrans %}
          </div>
          <div class="alert alert-danger" id="duplicateproducterror-alert"  aria-live="rude" role="alert" hidden>

            {% trans %}Duplicate Product / Service.{% endtrans %}
          </div>
          <div class="alert alert-danger" id="igst-alert"  aria-live="rude" role="alert" hidden>

            {% trans %}Please Specify IGST tax.{% endtrans %}
          </div>
	  
          <!-- <div class="alert alert-info" id="nocategory-alert"  aria-live="rude" role="alert" hidden>

               {% trans %}You can create products under categories.{% endtrans %}
               </div> -->
          <div class="alert alert-danger" id="item-blank-alert"  aria-live="rude" role="alert" hidden>

            {% trans %}Please select Item!{% endtrans %}
          </div>
          <div class="alert alert-danger" id="product-name-blank-alert"  aria-live="rude" role="alert" hidden>

            {% trans %}Please enter product name!{% endtrans %}
          </div>
          <div class="alert alert-danger" id="os-blank-alert"  aria-live="rude" role="alert" hidden>

            {% trans %}<b>Opening Stock</b> is blank. Please enter <b>0.00</b> if you have no opening stock.{% endtrans %}
          </div>
          <div class="alert alert-warning" id="godown-same-alert"  aria-live="rude" role="alert" hidden>

            {% trans %}Please select a different godown.{% endtrans %}
          </div>
          <div class="alert alert-danger" id="date-alert"  aria-live="rude" role="alert" hidden>

            <label for="vno">{% trans %}Please enter date in proper format!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="tax-same-alert"  aria-live="rude" role="alert" hidden>

            {% trans %}This tax has already been applied.{% endtrans %}
          </div>
          <div class="alert alert-danger" id="tax-alert"  aria-live="rude" role="alert" hidden>

            {% trans %}Please Specify Tax for Product.{% endtrans %}
          </div>
          <div class="alert alert-danger" id="cvat-alert"  aria-live="rude" role="alert" hidden>

            {% trans %}CVAT/IGST can be applied only once.{% endtrans %}
          </div>
	  <div class="alert alert-danger" id="edit_cvat-alert"  aria-live="rude" role="alert" hidden>

	    {% trans %}CVAT can be applied only once.{% endtrans %}
	  </div>
          <div class="alert alert-danger" id="uomblank-alert"  aria-live="rude" role="alert" hidden>

            {% trans %}Please select the unit of measurement.{% endtrans %}
          </div>
          <div class="alert alert-danger" id="tax-duplicate-alert"  aria-live="rude" role="alert" hidden>

            {% trans %}Duplicate Tax!{% endtrans %}
          </div>
          <div class="alert alert-danger" id="no-godown-alert"  aria-live="rude" role="alert" hidden>

            {% trans %}There are no more godowns!{% endtrans %}
          </div>
          <div class="alert alert-danger" id="failure-delete-alert"  aria-live="rude" role="alert" hidden>

            {% trans %}Cannot delete Product!{% endtrans %}<br>
          </div>
	  <div class="alert alert-danger" id="failure-service-delete-alert"  aria-live="rude" role="alert" hidden>

            {% trans %}Cannot delete Service!{% endtrans %}<br>
          </div>
	  <div class="alert alert-danger" id="tax-rate-blank-alert"  aria-live="rude" role="alert" hidden>

            {% trans %}Tax rate must not be empty or zero!{% endtrans %}<br>
          </div>
        </div>
        {% endif %}
        <form id="addprodform">
          <div class="col-sm-6" >
            <div class="row">

              {% if not gkresult["category"] %}
		<div class="form-group col-sm-11" id="categorydiv">
                  <small id="txtareahelp" class="form-text text-muted">{% trans %}If you want to put this product under a category/sub-category,You must create a category first.{% endtrans %}</small>
		</div>
              {% else %}
		<div class="form-group col-sm-11" id="categorydiv">
                  <label class="" for="addcatselect">{% trans %}Select Category{% endtrans %} :</label>
                  <select class = "form-control input-sm"  name = "catselect" id="addcatselect" >
                    <option value="" selected >{% trans %}None{% endtrans %}</option>
                    {% for cat in gkresult["category"] %}
                      <option value="{{cat['categorycode']}}">{{cat["categoryname"]}}({{cat["subcount"]}})</option>
                    {% endfor %}
                  </select>
		  
		</div>
              {% endif %}
            </div>
            <div class="row">
              <div class="form-group col-sm-11 pd">
                <label for="addproddesc" class="">{% trans %}Product Name{% endtrans %} :</label><label for="addproddesc" style="color:red;font-size: 120%;">*</label>
                <input type='text' class="form-control input-sm" name="addproddesc"  id="addproddesc" placeholder="Alphanumeric">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-11 pds olduom">
                <label for="uom" class="">{% trans %}Unit of Measurement{% endtrans %} :</label><label for="uom" style="color:red;font-size: 120%;">*</label>
                <select class = "form-control input-sm sel"  name = "uom" id="adduom" aria-describedby="txtareahelp">
                  <option value="" disabled selected hidden>{% trans %}Select Unit of Measurement{% endtrans %}</option>
                  {% for uom in gkresult["uom"] %}
                    <option value="{{uom['uomid']}}" uname="{{uom["unitname"]}}">{{uom["unitname"]}} {% if uom["description"] != None %} ({{ uom["description"] }}){% endif %}</option>
                  {% endfor %}
                </select>

                <small id="txtareahelp" class="form-text text-muted">{% trans %}Press Space Bar to add a new unit.{% endtrans %}</small>
              </div>
              <div class="form-group col-sm-11 pds newuom" hidden>
                <label for="newuom" class=""  style="font-size:13px">{% trans %}New Unit of Measurement{% endtrans %} :</label>
                <input type='text' class="form-control input-sm" name="newuom"  id="newuom" placeholder="Name of the new unit" aria-describedby="textareahelp">
                <small id="textareahelp" class="form-text text-muted">{% trans %}Press 'Enter' key to save and 'Esc' key to cancel.{% endtrans %}</small>
              </div>
            </div>
	    <div class="row">
	      <div class="form-group col-sm-5">
                <label for="maxprice" class="common">{% trans %}MRP{% endtrans %}:</label>
                <input type='text' class="form-control input-sm common numtype" name="prodmrp"  id="maxprice" maxlength="13" value="0.00">
	      </div>
	      <div class="form-group col-sm-offset-1 col-sm-5">
                <label for="saleprice" class="common">{% trans %}Sale Price{% endtrans %}:</label>
                <input type='text' class="form-control input-sm common numtype" name="prodsp"  id="saleprice" maxlength="13" value="0.00">
	      </div>
	    </div>
            <div class=" col-sm-12 row" id="specdiv" hidden>
            </div>
	  </div>
	  <div class="col-sm-6" id="rightdiv">
	    <div class="row">
	      <div class="alert alert-danger" id="tax-name-blank-alert"  aria-live="rude" role="alert" hidden>
		{% trans %}Please Specify Tax Name.{% endtrans %}
              </div>
	      <div class="alert alert-danger" id="tax_state-blank-alert"  aria-live="rude" role="alert" hidden>
		{% trans %}Please select a state.{% endtrans %}
              </div>
	    </div>
            <i class="fa fa-question-circle pull-right" style="font-size:16px;color:black;"data-toggle="modal" data-target="#CatModal"></i>
	    {% if userrole|int != 3 %}
              <div class="row">
		<div class="form-group" style="margin-top: 3%;">
		  <div class="panel">
		    <table id="product_tax_table" class="table table-condensed table-bordered fixed-table">
                      <thead class="bg-primary input-sm">
			<tr>
			  <th class="col-xs-4 text-center"style="width:30px">{% trans %}Tax Name{% endtrans %}</th>
			  <th class="col-xs-4 text-center"style="width:30px">{% trans %}State{% endtrans %}</th>
			  <th class="col-xs-2 text-center"style="width:30px">{% trans %}Rate %{% endtrans %}</th>
			  <th class="col-xs-1"></th>
			  <th class="col-xs-1"></th>
			</tr>
                      </thead>
                      <tbody>
			<tr>
			  <td class="col-xs-4"style="width:30px">
			    <select class="form-control input-sm tax_name product_new_name">
                              <option value="" selected hidden disabled>Select Tax</option>
                              <option value="VAT">VAT</option>
                              <option value="CVAT">CVAT</option>
			    </select>
			  </td>
			  <td class="col-xs-4"style="width:30px">
			    <select class="form-control input-sm tax_state product_new_state" >
                              <option value="">None</option>
                              <option value="Andaman and Nicobar Islands" stateid="1">Andaman and Nicobar Islands</option>
                              <option value="Andhra Pradesh" stateid="2">Andhra Pradesh</option>
                              <option value="Arunachal Pradesh" stateid="3">Arunachal Pradesh</option>
                              <option value="Assam" stateid="4">Assam</option>
                              <option value="Bihar" stateid="5">Bihar</option>
                              <option value="Chandigarh" stateid="6">Chandigarh</option>
                              <option value="Chhattisgarh" stateid="7">Chhattisgarh</option>
                              <option value="Dadra and Nagar Haveli" stateid="8">Dadra and Nagar Haveli</option>
                              <option value="Daman and Diu" stateid="9">Daman and Diu</option>
                              <option value="Delhi" stateid="10">Delhi</option>
                              <option value="Goa" stateid="11">Goa</option>
                              <option value="Gujarat" stateid="12">Gujarat</option>
                              <option value="Haryana" stateid="13">Haryana</option>
                              <option value="Himachal Pradesh" stateid="14">Himachal Pradesh</option>
                              <option value="Jammu and Kashmir" stateid="15">Jammu and Kashmir</option>
                              <option value="Jharkhand" stateid="16">Jharkhand</option>
                              <option value="Karnataka" stateid="17">Karnataka</option>
                              <option value="Kerala" stateid="19">Kerala</option>
                              <option value="Lakshadweep" stateid="20">Lakshadweep</option>
                              <option value="Madhya Pradesh" stateid="21">Madhya Pradesh</option>
                              <option value="Maharashtra" stateid="22">Maharashtra</option>
                              <option value="Manipur" stateid="23">Manipur</option>
                              <option value="Meghalaya" stateid="24">Meghalaya</option>
                              <option value="Mizoram" stateid="25">Mizoram</option>
                              <option value="Nagaland" stateid="26">Nagaland</option>
                              <option value="Odisha" stateid="29">Odisha</option>
                              <option value="Pondicherry" stateid="31">Pondicherry</option>
                              <option value="Punjab" stateid="32">Punjab</option>
                              <option value="Rajasthan" stateid="33">Rajasthan</option>
                              <option value="Sikkim" stateid="34">Sikkim</option>
                              <option value="Tamil Nadu" stateid="35">Tamil Nadu</option>
                              <option value="Telangana" stateid="36">Telangana</option>
                              <option value="Tripura" stateid="37">Tripura</option>
                              <option value="Uttar Pradesh" stateid="38">Uttar Pradesh</option>
                              <option value="Uttarakhand" stateid="39">Uttarakhand</option>
                              <option value="West Bengal" stateid="41">West Bengal</option>
			    </select>
			  </td>
			  <td class="col-xs-2"style="width:30px">
			    <input class="form-control input-sm tax_rate text-right product_new_rate numtype"  placeholder="0.00" value="0.00">
			  </td>
			  <td class="col-xs-1">
			    <div style="text-align: center;">
			      <span class="glyphicon glyphicon glyphicon-plus addbtn"></span>
			    </div>
			  </td>
			  <td class="col-xs-1">
			    <div style="text-align: center;">
			      <a href="#" class="tax_del"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
			    </div>
			  </td>
			</tr>
                      </tbody>
		    </table>
		  </div>
		  <small id="taxhelp4" class="form-text text-muted common">Press 'Insert' key from anywhere on the screen to save changes.</small>
		  <div class="collapse" id="moresmall">
		    <small id="taxhelp2" class="form-text text-muted ">Press 'Ctrl + >' to move forward or 'Ctrl + <' to move backward within a row in a table.</small><br>
		    <small id="taxhelp" class="form-text text-muted">Press 'Shift + <' to move backward within a Column in a table.</small>
		    {% if not godown %}
		      <small  class="form-text text-muted productclass">When on Tax Rate or Tax Name, Press 'Esc' key to shift focus to Opening Stock and from Opening Stock to 'Save' button.</small>
		    {% else %}
		      <small  class="form-text text-muted " id="godownmsg">When on Tax Rate or Tax Name, Press 'Esc' key to shift focus to Opening Stock and from Opening Stock to 'Save' button.</small>
		    {% endif %}	      
		  </div>
		  <a data-toggle="collapse" id="smalllink" href="#moresmall">See more.<span class="glyphicon glyphicon-triangle-bottom"></span></a>
		</div>
              </div>
	    {% endif %}
            <div class="row noinventory">
              <div class="row  productclass">
		{% if not godown %}
		  <div id="newgodownadded" hidden>
                    <div class="form-group">
                      <input type="checkbox" name="godownflag" id="godownflag" value=0>
                </input>
                <input type="text" id="godownpresence" value="0" hidden>
                <label class="" for="godownflag">{% trans %}Godown Wise Opening Stock{% endtrans %}</label>
		    </div>
                    <div  id="openingstockdiv" class="form-group" hidden>
		      <div class="alert alert-danger" id="godown-blank-alert"  aria-live="rude" role="alert" hidden>
			{% trans %}Please select a godown.{% endtrans %}
		      </div>
                      <div class="panel">
			<table id="godown_ob_table" class="table table-condensed table-bordered fixed-table">
			  <thead class="bg-primary input-sm">
                            <tr>
                              <th class="col-xs-7 text-center">{% trans %}Godown{% endtrans %}</th>
                              <th class="col-xs-3 text-center">{% trans %}Opening Stock{% endtrans %}</th>
                              <th class="col-xs-1"></th>
			      <th class="col-xs-1"></th>
                            </tr>
			  </thead>
			  <tbody>
                            <tr>
                              <td class="col-xs-7">
				<select class="form-control input-sm godown_name">
				  <option value="" disabled hidden selected>Select Godown</option>
				  {% for record in godown %}
				    <option value="{{record["goid"]}}">{{record["goname"]}}({{record["goaddr"]}})</option>
				  {% endfor %}
				</select>
                              </td>
                              <td class="col-xs-3">
				<input class="form-control input-sm godown_ob text-right numtype" value="0.00">
                              </td>
                              <td class="col-xs-1">
				<div style="text-align: center;">
				  <span class="glyphicon glyphicon glyphicon-plus goaddbtn"></span>
				</div>
                              </td>
			      <td class="col-xs-1">
				<div style="text-align: center;">
				  <a href="#" class="godown_del"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
				</div>
                              </td>
                            </tr>
			  </tbody>
			</table>
                      </div>
                    </div>
		  </div>
		  <div id="nogodown">
		    <div class="form-group pds col-sm-6">
                      <label for="openingstock" class="">{% trans %}Opening Stock{% endtrans %} :</label>
                      <div class="input-group">
			<input type='text' class="form-control text-right input-sm" name="openingstock"  id="openingstock" value="0.00" aria-describedby="unitaddon">
			<span class="input-group-addon input-sm" id="unitaddon"></span>
                      </div>
		    </div>
		  </div>
		{% else %}
		  {% if userrole|int != 3 %}
		    <div class="form-group col-sm-12">
                      <input type="checkbox" name="godownflag" id="godownflag" value=0>
		</input>
		<input type="text" id="godownpresence" value="1" hidden="">
		<label class="" for="godownflag">{% trans %}Godown Wise Opening Stock{% endtrans %}</label>
		    </div>
		    <div id="nogodown" class="form-group pds col-sm-6 noinventory">
		      <label for="openingstock" class="">{% trans %}Opening Stock{% endtrans %} :</label>
		      <div class="input-group">
			<input type='text' class="form-control text-right input-sm numtype" name="openingstock"  id="openingstock" value="0.00" aria-describedby="unitaddon">
			<span class="input-group-addon input-sm" id="unitaddon"></span>
		      </div>
		    </div>
		    <div  id="openingstockdiv" class="form-group col-sm-12" hidden>
		  {% else %}
		      <input type="hidden" name="godownflag" id="godownflag" value="1">
		</input>
		<input type="text" id="godownpresence" value="1" hidden>
		<div  id="openingstockdiv" class="form-group col-sm-12">
		  {% endif %}
		  <div class="alert alert-danger" id="godown-blank-alert"  aria-live="rude" role="alert" hidden>
		    {% trans %}Please select a godown.{% endtrans %}
		  </div>
		  <div class="panel">
                    <table id="godown_ob_table" class="table table-condensed table-bordered fixed-table">
                      <thead class="bg-primary input-sm">
			<tr>
			  <th class="col-xs-7 text-center">{% trans %}Godown{% endtrans %}</th>
			  <th class="col-xs-3 text-center">{% trans %}Opening Stock{% endtrans %}</th>
			  <th class="col-xs-1"></th>
			  <th class="col-xs-1"></th>
			</tr>
                      </thead>
                      <tbody>
			<tr>
			  <td class="col-xs-7">
                            <select class="form-control input-sm godown_name">
                              <option value="" disabled hidden selected>Select Godown</option>
                              {% for record in godown %}
				<option value="{{record["goid"]}}">{{record["goname"]}}({{record["goaddr"]}})</option>
                              {% endfor %}
                            </select>
			  </td>
			  <td class="col-xs-3">
                            <input class="form-control input-sm godown_ob text-right numtype" value="0.00">
			  </td>
			  <td class="col-xs-1">
			    <div style="text-align: center;">
			      <span class="glyphicon glyphicon glyphicon-plus goaddbtn"></span>
			    </div>
			  </td>
			  <td class="col-xs-1">
			    <div style="text-align: center;">
			      <a href="#" class="godown_del"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
			</div>
			</td>
                      </tr>
                    </tbody>
                  </table>
		</div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
	</form>
      </div>
      <div class="btn-group-sm panel-footer">
	<div class="container-fluid">
          {% if extrabuttons %}
            <button class="btn btn-success btn-sm" id="apsubmit" name="submit" accesskey="s" data-toggle="tooltip" data-placement="top" title="Press Insert key anywhere on the screen to save">{% trans %}<u>S</u>ave{% endtrans %}</button>
            <button id="apreset" class="btn btn-warning btn-sm" accesskey="e">{% trans %}R<u>e</u>set{% endtrans %}</button>
            {% if userrole|int != 3 %}<button id="addgodown" class="btn btn-info btn-sm" accesskey="a" style="display:none">{% trans %}<u>A</u>dd Godown{% endtrans %}</button>{% endif %}

	    {%if userrole|int==3%}
	      <td> 	<button class="btn btn-primary btn-sm stockfield" type="button" id="prostock"  data-toggle="modal" data-target="#addstockmodal"><i class="fa fa-plus" aria-hidden="true"></i> {% trans %}Add Stock{% endtrans %}</button>
	      </td>
	    {% endif %}
          {% else %}
            <button class="btn btn-success btn-sm" id="apsubmit" name="submit" data-toggle="tooltip" data-placement="top" title="Press Insert key anywhere on the screen to save">{% trans %}Save{% endtrans %}</button>
            <button id="apreset" class="btn btn-warning btn-sm" >{% trans %}Reset{% endtrans %}</button>
          {% endif %}
	</div>
      </div>
      </div>
    </div>
  </div>
  <div id="addgodownpopup">

  </div>
  <div id="CatModal"  tabindex="-1" class="modal fade " role="dialog"style="width:650px; margin-top: 50px; margin-left:300px;"  aria-hidden="true">
    <div class="modal-dialog bgcolor " >
      <div class="modal-content ">
        <div class="modal-header">
          <strong>{% trans %}Help!{% endtrans %}</strong>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> </div>
        <div class="modal-body" style="text-align: justify; text-justify: inter-word;">

          <p>   <font color=" #566573"> {%trans%}
            This module is for creating products. {% endtrans %}
            </br> {% trans %}To create a Product, we have to provide Product Name, Unit of Measurement and Tax. We can have products under categories. To use this feature create categories and then while creating products we can choose a category they will belong to.
{% endtrans %}
            </br>{% trans %}Alternatively you may create a Product without a Category and or Sub-Category with all its specifications.
	    You can also create a Unit of Measurement. Note that you can choose a Unit of measurement previously created or create one.
 {%endtrans %} </br>
 {% trans %}Products can have opening stock. If inventory is enabled for this organisation and we have godowns we can add them using a popup which can be activated by clicking Add Godown button. Godowns can also be added using the Create Godown Module.
{%endtrans %}</font>

          </p>
          <p id="showonlygodown" hidden> <font color=" #566573"> {%trans%}

              We can add godown wise opening stock for products by clicking Add Stock button.</br>
              First, we have to choose a godown from the dropdown.<br>
              Then, choose a product from the dropdown list in the table and enter opening stock in the input field in the same row. This dropdown only lists those products which are not associated with the selected godown. To add stock of another product, make a new row by pressing 'Enter' key from the opening stock field.
              {%endtrans %} </font>
          </p>

        </div>

      </div>
    </div>
  </div>
  {% if extrabuttons %}
    <input id="extrabuttons" value="1" hidden/>
  {% else %}
    <input id="extrabuttons" value="0" hidden/>
  {% endif %}
    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/addproductvat.js')}}"></script>
</body>


  <!--  for adding stock to existing Product-->
  
  <div id="addstockmodal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class="modal-title">
	    {% trans %}Add stock to existing product{% endtrans %} :
          </div>
        </div>
	<div class="modal-body" id="vatstkmodal">
	</div>
	</div>
      </div>
  </div>


  
