<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% trans %}GNUKhata{% endtrans %}</title>
  <style type="text/css">
   @page {
       size: 29.7cm 21cm ;
       margin: 10mm 10mm 20mm 10mm; /* change the margins as you want them to be. */
   }
   .shadow {
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }
   #liabtable td,#patable td {
       font-size: 75%;
       padding: 4 !important;
       margin: 4 !important;
   }
   #liabtable th,#patable th {
       font-size: 85%;
   }

   .card-view .title {
       font-weight: bold;
       display: inline-block;
       min-width: 30%;
       text-align: left !important;
   }
   .fixed-table tbody {
       display:block;
       height: calc(72vh);
       overflow-y:scroll;
   }
   .fixed-table thead,.fixed-table tbody tr {
       display:table;
       width:100%;
       table-layout:fixed;
   }
   .fixed-table thead {
       width: calc( 99.1% );
   }
   .nopadding{
       padidng:0 !important;
       padding:0 !important;
   }
   .subgrouptd{
       font-weight:normal !important;
   }
   .accounttd {
       font-weight:normal !important;
       font-style:italic !important;
   }

  </style>
</head>
<body>
  {% if orgtype=="Profit Making" and flag=="0" %}
  <span style="margin:auto; display:table;"><strong>{% trans %}Conventional Balance Sheet{% endtrans %} </strong>{% trans %}from{% endtrans %} <strong>{{from[8:10]+to[4:8]+to[0:4]}}</strong>{% trans %} to {% endtrans %}<strong>{{to[8:10]+to[4:8]+to[0:4]}}</strong></span>
  {% elif orgtype=="Non For Profit" and flag=="0" %}
  <span style="margin:auto; display:table;"><strong>{% trans %}Conventional Statement of Affairs{% endtrans %} </strong>{% trans %}from{% endtrans %} <strong>{{from[8:10]+to[4:8]+to[0:4]}}</strong>{% trans %} to {% endtrans %}<strong>{{to[8:10]+to[4:8]+to[0:4]}}</strong></span>
  {% elif flag=="1" %}
  <span style="margin:auto; display:table;"><strong>Consolidated Balance Sheet of Holding Company <i>{{horgname}}</i> and its {% if slen == 1 %} Subsidiary {% else %}Subsidiaries {% endif %}{% for sorgs in sorgname %} <i>{{sorgs}}</i> {%if loop.index == slen-1 %} & {% elif slen > 2 and loop.index != slen%} , {% endif %}{% endfor %} </strong>{% trans %}as on{% endtrans %} <strong>{{to[8:10]+to[4:8]+to[0:4]}}</strong></span>
  {% endif %}
  <input type="text" id="calculateto" value="{{to}}" hidden>
  <input type="hidden" id="calculatefrom" name="calculatefrom" value="{{from}}"></input>
  <div class="row">
    <div class="table-responsive col-xs-6 nopadding" >
      <table id="liabtable" class="shadow table fixed-table table-condensed cbalsheettable">
        <thead class="bg-primary">
          <tr>
            {% if orgtype=="Profit Making" %}
            <th class="col-xs-6">{% trans %}Capital and Liabilities{% endtrans %}</th>
            {% else %}
            <th class="col-xs-6">{% trans %}Corpus and Liabilities{% endtrans %}</th>
            {% endif %}
            <th style="text-align:right" class="col-xs-2">&nbsp</th>
            <th style="text-align:right" class="col-xs-2">&nbsp</th>
            <th style="text-align:right" class="col-xs-2">{% trans %}Amount{% endtrans %}</th>
          </tr>
        </thead>
        <tbody>

          {% for record in records["leftlist"] %}
          {%if record["groupAccname"]!="Sources:"%}
          {%if (record["groupAccname"]=="Loss for the Year:" or record["groupAccname"]=="Deficit for the Year:" or record["groupAccname"]=="Surplus for the Year:" or record["groupAccname"]=="Profit for the Year:")%}
            <tr value="{{record["groupAcccode"]}}">
          {%elif record["groupAccflag"] == 2%}
            <tr value="{{record["groupAcccode"]}}" class="subgroupacc g{{record["accountof"]}}" style="display:none;">
          {% elif record["groupAccflag"] == 1  %}
            <tr value="{{record["groupAcccode"]}}" class="groupacc g{{record["accountof"]}}" style="display:none;">
          {%elif record["subgroupof"]!=""%}
            <tr value="g{{record["groupAcccode"]}}" class="groupacc g{{record["subgroupof"]}}" style="display:none;">
          {%else%}
            <tr value="g{{record["groupAcccode"]}}" class="groupname">
          {%endif%}

            <td class="col-xs-6">
              {% if record["groupAccname"]=="Total" or record["groupAccname"]=="Sources:" or record["groupAccname"]=="Difference" %}
              <a class="libgname" href="#" style="text-decoration: none;"><b>{{record["groupAccname"].upper()}}</b></a>
              {%elif record["groupAccname"]==""%}
              <a class="libgname" href="#">&nbsp</a>
              {%elif (record["groupAccflag"]=="" and record["subgroupof"]!="")%}
              <a class="libgname subgrouptd" href="#"><span style="margin-left:3em;">{{record["groupAccname"].upper()}}</span></a>
              {%elif record["groupAccflag"]==1 %}
              <a class="libgname accounttd" href="#"><span style="margin-left:3em;">{{record["groupAccname"]}}</span></a>
              {%elif record["groupAccflag"]==2%}
              <a class="libgname acc accounttd" href="#"><span style="margin-left:6em;">{{record["groupAccname"]}}</span></a>
              {%else%}
              <a href="#" class="libgname groupname">{{record["groupAccname"].upper()}}</a>
              {%endif%}
            </td>

            {%if record["advflag"]==1%}
              {%if record["groupAccflag"]==2%}
		<td class="col-xs-2 accounttd" style="text-align:right; color:red;"><span style="margin-right:6em;">{{record["amount"]}}</span></td>
	      {%elif record["groupAccflag"]==1%}
		<td class="col-xs-2 accounttd" style="text-align:right; color:red;"><span style="margin-right:3em;">{{record["amount"]}}</span></td>
              {%elif (record["groupAccflag"]=="" and record["subgroupof"]!="")%}
		<td class="col-xs-2 subgrouptd" style="text-align:right; color:red;"><span style="margin-right:3em;">{{record["amount"]}}</span></td>
              {%else%}
		<td class="col-xs-2" style="text-align:right; color:red;"><span style="margin-right:3em;">{{record["amount"]}}</span></td>
              {%endif%}
            {%else%}
              {%if record["groupAccflag"]==2 %}
		<td class="col-xs-2 accounttd" style="text-align:right"><span style="margin-right:6em;">{{record["amount"]}}</span></td>
	      {%elif record["groupAccflag"]==1%}
		<td class="col-xs-2 accounttd" style="text-align:right"><span style="margin-right:3em;">{{record["amount"]}}</span></td>
              {%elif (record["groupAccflag"]=="" and record["subgroupof"]!="")%}
		<td class="col-xs-2 subgrouptd" style="text-align:right"><span style="margin-right:3em;">{{record["amount"]}}</span></td>
              {%else%}
		<td class="col-xs-2" style="text-align:right"><b>{{record["amount"]}}</b></td>
              {%endif%}
            {%endif%}
            </tr>
          {%endif%}
          {% endfor %}

        </tbody>
      </table>
    </div>
    <div class="table-responsive col-xs-6 nopadding" >
      <table id="patable" class="shadow table table-condensed fixed-table cbalsheettable">
        <thead class="bg-primary">
          <tr>
            <th class="col-xs-6">{% trans %}Property and Assets{% endtrans %}</th>
            <th style="text-align:right" class="col-xs-2">&nbsp</th>
            <th style="text-align:right" class="col-xs-2">&nbsp</th>
            <th style="text-align:right" class="col-xs-2">{% trans %}Amount{% endtrans %}</th>
          </tr>
        </thead>
        <tbody>
          {% for record in records["rightlist"] %}
            {%if record["groupAccname"]!="Applications:"%}
              {%if (record["groupAccname"]=="Loss for the Year:" or record["groupAccname"]=="Deficit for the Year:" or record["groupAccname"]=="Surplus for the Year:" or record["groupAccname"]=="Profit for the Year:")%}
		<tr value="{{record["groupAcccode"]}}">
              {%elif record["groupAccflag"] == 2%}
		  <tr value="{{record["groupAcccode"]}}" class="subgroupacc g{{record["accountof"]}}" style="display:none;">
              {% elif record["groupAccflag"] == 1  %}
		    <tr value="{{record["groupAcccode"]}}" class="groupacc g{{record["accountof"]}}" style="display:none;">
              {%elif record["subgroupof"]!=""%}
		      <tr value="g{{record["groupAcccode"]}}" class="groupacc g{{record["subgroupof"]}}" style="display:none;">
              {%else%}
			<tr value="g{{record["groupAcccode"]}}" class="groupname">
              {%endif%}

              <td class="col-xs-6">
		{% if record["groupAccname"]=="Total" or record["groupAccname"]=="Difference" or record["groupAccname"]=="Applications:" %}
		  <a class="pagname" href="#" style="text-decoration: none;"><b>{{record["groupAccname"].upper()}}</b></a>
		{%elif record["groupAccname"]==""%}
		  <a class="pagname" href="#">&nbsp
		{%elif (record["groupAccflag"]=="" and record["subgroupof"]!="")%}
		    <a class="pagname subgrouptd" href="#"><span style="margin-left:3em;">{{record["groupAccname"].upper()}}</span></a>
		{%elif record["groupAccflag"]==1 %}
		    <a class="pagname accounttd" href="#"><span style="margin-left:3em;">{{record["groupAccname"]}}</span></a>
		{%elif record["groupAccflag"]==2%}
		    <a class="pagname acc accounttd" href="#"><span style="margin-left:6em;">{{record["groupAccname"]}}</span></a>
		{%else%}
		    <a href="#" class="pagname groupname">{{record["groupAccname"].upper()}}</a>
		{%endif%}
              </td>

              {%if record["advflag"]==1%}
		{%if record["groupAccflag"]==2 %}
		  <td class="col-xs-2 accounttd" style="text-align:right; color:red;"><span style="margin-right:6em;">{{record["amount"]}}</span></td>
		{%elif record["groupAccflag"]==1%}
		  <td class="col-xs-2 accounttd" style="text-align:right; color:red;"><span style="margin-left:3em;">{{record["amount"]}}</span></td>
		{%elif (record["groupAccflag"]=="" and record["subgroupof"]!="")%}	  
		  <td class="col-xs-2 subgrouptd" style="text-align:right; color:red;"><span style="margin-left:3em;">{{record["amount"]}}</span></td>
		{%else%}  
		  <td class="col-xs-2" style="text-align:right; color:red;"><b><span style="margin-left:3em;">{{record["amount"]}}</span></b></td>
		{%endif%}
              {%else%}
		{%if record["groupAccflag"]==2%}
		  <td class="col-xs-2 accounttd" style="text-align:right"><span style="margin-right:6em;">{{record["amount"]}}</span></td>
		{%elif record["groupAccflag"]==1%}
		  <td class="col-xs-2 accounttd" style="text-align:right"><span style="margin-right:3em;">{{record["amount"]}}</span></td>
		{%elif (record["groupAccflag"]=="" and record["subgroupof"]!="")%}
		  <td class="col-xs-2 subgrouptd" style="text-align:right"><span style="margin-right:3em;">{{record["amount"]}}</span></td>
              {%else%}
              <td class="col-xs-2" style="text-align:right"><b>{{record["amount"]}}</b></td>
              {%endif%}
            {%endif%}
          </tr>
          {%endif%}
          {% endfor %}
        </tbody>
      </table>
      <input type="hidden" name="balancesheettype" id="balancesheettype" value="{{balancesheettype}}">
      <input type="hidden" name="cto" id="cto" value="{{to}}">
      <input type="hidden" name="cfrom" id="cfrom" value="{{from}}">

    </div>
  </div>
  <span class="hidden-print" style="margin:auto; display:table;">
    <button type="button" class="btn btn-sm btn-danger" id="balback" accesskey="k">{% trans %}<i class="fa fa-arrow-left" aria-hidden="true"></i> Bac<u>k</u>{% endtrans %}</button>
    {% if flag == "0" %}
    <button type="button" class="btn btn-sm btn-info" id="sbgbtn" accesskey="g">{% trans %}Show Sub<u>g</u>roups{% endtrans %}</button>
    <button type="button" class="btn btn-sm btn-primary" id="grpbtn" accesskey="w">{% trans %}Sho<u>w</u> Groups{% endtrans %}</button>
    <button type="button" class="btn btn-sm btn-primary" id="accbtn" accesskey="a">{% trans %}Show All <u>A</u>ccounts{% endtrans %}</button>
    <button type="button" class="btn btn-sm btn-info" id="sabutn" accesskey="s">{% trans %}<u>S</u>ources & Applications of Funds{% endtrans %}</button>

    {% endif %}
     <button class="btn btn-sm btn-primary" type="button"  id="print" accesskey="x">{% trans %}<i class="fa fa-file-excel-o" aria-hidden="true"></i> E<u>x</u>port to Spreadsheet{% endtrans %}</button>
     <button class="btn btn-sm btn-info" type="button"  id="printconvbalance" accesskey="t">{% trans %}<i class="fa fa-print" aria-hidden="true"></i> View Prin<u>t</u>able Version{% endtrans %}</button>
     <button class="btn btn-sm btn-info" type="button"  id="realprintbalance" accesskey="t">{% trans %}<i class="fa fa-print" aria-hidden="true"></i> Prin<u>t{% endtrans %}</u></button>
  </span>
  <input type="hidden" id="ledtodate" value="{{to}}">
  <input type="hidden" id="ledfromdate" value="{{from}}">
  <input type="hidden" id="backflag" value="{{backflag}}">
  <input type="hidden" id="flag" value="{{flag}}">
  <input type="hidden" id="yearstart" value="{{financialStart}}">
  <input type="hidden" id="orgtype" value="{{orgtype}}">
  <input type="hidden" id="orgcode" value="{{orgcode}}">
  <input type="hidden" id="calculateto" value="{{to}}">
  <input type="hidden" id="horgname" value="{{horgname}}">
  <select id="selectedorg" hidden>
  {% for org in orglist %}
  <option value="{{org}}"></option>
  {% endfor %}
  </select>
  <select id="sorgname" hidden>
  {% for org in sorgname %}
  <option value={{loop.index}}>{{org}}</option>
  {% endfor %}
  </select>

  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/conventionalbalancesheetreport.js')}}"></script>
</body>
</html>
