<!DOCTYPE HTML >
<html>
<head>
  <link rel="stylesheet" type="text/css" media="screen" href="{{request.static_url('gkwebapp:static/css/bootstrap.min.css')}}" />
  <style>
  #subbutton{margin-top:2%}
  p{
    font-size: 1.1em;
  }
  .panel{
    border-color: rgb(87,93,99);
  }
  @media (max-width: 767px) {
    .mainbox {
      margin-top: 50px;
    }
  }
  </style>


</head>
<body>

    <div id="existingorg" class="mainbox">
      <div class="alert alert-danger" id="selorg-blank-alert" hidden>

        {% trans %}Please select Company!{% endtrans %}
      </div>
      <div class="col-sm-3">
      </div>
      <div class="col-sm-6">
      <div class="panel shadow" >
        <div class="panel-heading">
          <div class="panel-title">{% trans %}Select Company{% endtrans %}</div>

        </div>

        <div style="padding-top:20px" class="panel-body" >



          <form id="orgform" class="form-horizontal" role="form">

            <div style="margin-bottom: 25px" class="input-group col-xs-12">
              <br/>
	      <label for="org-name" id="orname">{% trans %}<u>C</u>ompany Name{% endtrans %} :</label>
	      <div class="dropdown searchabledropdown" data-input-id="org-name-input" data-button-id="org-name">
		<button class="btn btn-default dropdown-toggle selectdropdown" type="button" id="org-name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		  Select Company
		  <span class="caret"></span>
		</button>
		<ul class="dropdown-menu selectdropdown" aria-labelledby="org-name-label" id="org-name-ul">
		  <li><input id="org-name-input" class="form-control selectinput" /></li>
		  {% for orgs in gkresult %}
                    <li><a class="org-name-option selectdropdown" href="#" data-value="{{loop.index}}" data-orgname="{{orgs["orgname"]|safe}}" data-orgtype="{{orgs["orgtype"]|safe}}">{{orgs["orgname"]}}, {{orgs["orgtype"]}}</a></li>
                  {% endfor %}
		</ul>
	      </div>
            </div>

            <div style="margin-bottom: 45px" class="input-group col-xs-12">
              <label for="finalyears" id="orname">{% trans %}Select <u>F</u>inancial Year{% endtrans %} :</label><br/>
              <div class="dropdown searchabledropdown" data-input-id="final-year-input" data-button-id="finalyears">
		<button class="btn btn-default dropdown-toggle selectdropdown" type="button" id="finalyears" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		  Select Financial Year
		  <span class="caret"></span>
		</button>
		<ul class="dropdown-menu selectdropdown" aria-labelledby="final-year-label" id="final-year-ul">
		  <li><input id="final-year-input" class="form-control selectinput" /></li>
		</ul>
	      </div>
            </div>





            <div style="margin-top:10px" class="form-group">
              <!-- Button -->

              <div class="col-sm-12 controls">
                <button id="callLogin" class="btn btn-success btn-sm" accesskey="n"><span class="glyphicon glyphicon-arrow-right" style="margin-right: 5px;"></span>{% trans %}<u>N</u>ext{% endtrans %}</button>

              </div>
            </div>

          </form>



        </div>
      </div>
      </div>
      <div class="col-sm-3">
      </div>
    </div>

  <hr/>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/existingorg.js')}}"></script>
</body>

</html>
