
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' localhost:6544 'unsafe-inline' 'unsafe-eval' data:;"/>
    <title>{% trans %}GNUKhata {% endtrans %} | </title>
    <link id="bootstrap" href="{{request.static_url('gkwebapp:static/css/Default.min.css')}}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{request.static_url('gkwebapp:static/css/font-awesome.min.css')}}">
    <link href="{{request.static_url('gkwebapp:static/css/mainshellstyle.css')}}" rel="stylesheet" type="text/css">
    <link href="{{request.static_url('gkwebapp:static/css/drawer.min.css')}}" rel="stylesheet" type="text/css">

    <style>
    .percentage:after {
      content: "";
      display: block;
      background-color: #3d9970;
    }
    .percentage-20:after {
      width: 20%;
    }
    .percentage-30:after {
      width: 30%;
    }
    .bgcolor{
      background-color:#1b2631;
    }
    #rss-feeddiv {
      height: 60vh;
      overflow-y: scroll;
    }
    .card-view .title {
      font-weight: bold;
      display: inline-block;
      min-width: 30%;
      text-align: left !important;
    }

    .dashtable tbody {
      display:block;
      height: 180px;
      overflow-y:scroll;
    }
    .dashtable thead,.dashtable tbody tr {
      display:table;
      width:100%;
      table-layout:fixed;
    }
    .dashtable thead {
      width: calc( 97.6% );
    }
    </style>

    <style id="antiClickjack">body{display:none !important;}</style>
      <script type="text/javascript">
        if (self === top) {
          var antiClickjack = document.getElementById("antiClickjack");
          antiClickjack.parentNode.removeChild(antiClickjack);
        } else {
          top.location = self.location;
        }
    </script>
  </head>
  <body class="drawer drawer--left" style="background-color: #fafafa;">
    <header role="banner">
      <div id="divsidebar" class="container-fluid navbar-fixed-top " style="background-color: #F0F0F0; overflow:scrollTop; box-shadow: 0 1px 2px 0 rgba(0, 0, 0,0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19)" > 
        <button id="sidebar" type="button" class="drawer-toggle drawer-hamburger " style="margin-top:-10px;">
          <span class="sr-only ">toggle navigation</span>
          <span class="drawer-hamburger-icon "></span>
        </button>
        <nav  id="sidebarnv" class=" drawer-nav sidebar navbar navbar-light navbar-fixed-top" role="navigation" style="height:100vh !important; margin-top:35px">
          <ul id="ulsidebar" class="drawer-menu ">
            
            <li id="dashboard_li" class="submenuli " data-menuname="">
              <a href="" id="dashboard_a" class="submenu kmd" role="button" aria-haspopup="true" aria-expanded="false">{% trans %}Dashboard{% endtrans %}</a>
            </li>

            <li id="masterdr" class="hidden-print internalaud godownhide closebooks submenuli" data-menuname="mastermenu">
              <a href="" id="master" class="submenu kmd" data-menuname="mastermenu" role="button" aria-haspopup="true" aria-expanded="false">{% trans %}Master{% endtrans %}  <i class="fa fa-caret-down"></i></a>
            </li>
            <li id="addaccount" class="submenuitem mastermenu"><a class=" submenu_item kmd" data-toggle="tab"  href="">{% trans %}Account{% endtrans %}</a></li>
            <li id="customersupplier" class="submenuitem mastermenu custsuninmaster"><a class=" submenu_item kmd" data-toggle="tab"  href="">{% trans %}Customer and Supplier{% endtrans %}</a></li>
            <li id="showproject" class="submenuitem mastermenu operatorhide"><a id="showproject_a" class=" submenu_item kmd" data-toggle="tab" href="">{% trans %}Cost Center{% endtrans %}</a></li>
            <li id="budget" class="submenuitem mastermenu"><a  class=" submenu_item kmd" data-toggle="tab"  href="">{% trans %}Budget{% endtrans %}</a></li>
            <li id="categoryinmaster" class="submenuitem mastermenu addcategory categoryinmaster"><a class="submenu_item kmd" data-toggle="tab"  href="">{% trans %}Category{% endtrans %}</a></li>
            <li id="productinmaster" class="submenuitem mastermenu productinmaster"><a id="productinmaster_a" class="submenu_item kmd" data-toggle="tab" href="" >Product/Service</a></li>
            <li id="uominmaster" class="submenuitem mastermenu uominmaster"><a class="submenu_item kmd" data-toggle="tab"  href="">{% trans %}Unit of Measurement{% endtrans %}</a></li>
            <li id="showeditorg" class="submenuitem mastermenu"><a class=" submenu_item kmd" data-toggle="tab" href="" >{% trans %}Edit Company Profile{% endtrans %}</a></li>
            <li id="BRS" class="submenuitem mastermenu"><a class="submenu_item kmd" data-toggle="tab" href="">{% trans %}Bank Reconciliation Statement{% endtrans %}</a></li>
            <li id="shownews" class="submenuitem mastermenu"><a class="submenu_item kmd" data-toggle="modal" data-target="#newsmodal"  href="">{% trans %}Tax News{% endtrans %}</a></li>
            
            <li id="inventorydropdown" class=" internalaud closebooks inventory_hide submenuli" data-menuname="inventorymenu">
              <a href="" id="inventory" class="submenu kmd" data-menuname="inventorymenu" role="button" aria-haspopup="true" aria-expanded="false">{% trans %}Inventory{% endtrans %}  <i class="fa fa-caret-down"></i></a>
            </li>
            <li id="product" class="submenuitem inventorymenu"><a id="product_a" class="submenu_item kmd" data-toggle="tab" href="">Product/Service</a></li>
            <li id="godown" class="submenuitem inventorymenu hideoperator godownhide"><a  class="submenu_item kmd" data-toggle="tab"  href="">{% trans %}Godown{% endtrans %}</a></li>
            <li id="addcategory" class="submenuitem inventorymenu addcategory"><a class="submenu_item kmd" data-toggle="tab"  href="">{% trans %}Category{% endtrans %}</a></li>
            <li id="addunit" class="submenuitem inventorymenu"><a class="submenu_item kmd" data-toggle="tab"  href="">{% trans %}Unit of Measurement{% endtrans %}</a></li>
            

            <li id="transactiondropdown" class="godownhide submenuli" data-menuname="transactionmenu">
              <a href="" id="transaction" class="submenu kmd" data-menuname="transactionmenu" role="button" aria-haspopup="true" aria-expanded="false">{% trans %}Voucher{% endtrans %}  <i class="fa fa-caret-down"></i></a>
            </li>          
            <li id="showreceipt" class="submenuitem transactionmenu closebooks intauditor"><a class="submenu_item kmd" data-toggle="tab"  href="">{% trans %}Receipt{% endtrans %}</a></li>
            <li id="showpayment" class="submenuitem transactionmenu closebooks intauditor"><a class="submenu_item kmd" data-toggle="tab"  href="">{% trans %}Payment{% endtrans %}</a></li>
            <li id="showsales" class="submenuitem transactionmenu closebooks intauditor"><a class="submenu_item kmd" data-toggle="tab"  href="">{% trans %}Sale{% endtrans %}</a></li>
            <li  id="showpurchase" class="submenuitem transactionmenu closebooks intauditor"><a class="submenu_item kmd" data-toggle="tab" href="">{% trans %}Purchase{% endtrans %}</a></li>
            <li id="showcontra" class="submenuitem transactionmenu closebooks intauditor"><a class="submenu_item kmd" data-toggle="tab"  href="">{% trans %}Contra{% endtrans %}</a></li>
            <li id="showjournal" class="submenuitem transactionmenu closebooks intauditor"><a class="submenu_item kmd" data-toggle="tab"  href="">{% trans %}Journal{% endtrans %}</a></li>
            <li id="showsalesreturn" class="submenuitem transactionmenu closebooks intauditor"><a class="submenu_item kmd" data-toggle="tab"  href="">{% trans %}Sale Return{% endtrans %}</a></li>
            <li id="showpurchasereturn" class="submenuitem transactionmenu closebooks intauditor"><a class="submenu_item kmd" data-toggle="tab"  href="">{% trans %}Purchase Return{% endtrans %}</a></li>
            <li id="showcreditnote" class="submenuitem transactionmenu closebooks intauditor"><a class="submenu_item kmd" data-toggle="tab"  href="">{% trans %}Credit Note{% endtrans %}</a></li>
            <li id="showdebitnote" class="submenuitem transactionmenu closebooks intauditor"><a class="submenu_item kmd" data-toggle="tab"  href="">{% trans %}Debit Note{% endtrans %}</a></li>
            <li id="fevoucher" class="submenuitem transactionmenu closebooks"><a id="findvoucher_a" class="submenu_item kmd" href="" data-toggle="tab" >{% trans %}Find/Edit Voucher{% endtrans %}</a></li>
            <li id="showbillwiseaccounting" class="submenuitem transactionmenu intauditor closebooks"><a class="submenu_item kmd" href="" data-toggle="tab" >{% trans %}Billwise Accounting{% endtrans %}</a></li>

            <li id="Documents_id"class="closebooks submenuli" data-menuname="businessmenu">
              <a href="" id="business" class="submenu kmd" data-menuname="businessmenu" role="button" aria-haspopup="true" aria-expanded="false">{% trans %}Documents{% endtrans %}  <i class="fa fa-caret-down"></i></a>
            </li>
            <li id="deliverychallan" class="submenuitem businessmenu hidemenu"><a class="submenu_item kmd" data-toggle="tab" href="">{% trans %}Delivery Note{% endtrans %}</a></li>  
            <li id="invoice" class="godownhide submenuitem businessmenu"><a class=" submenu_item kmd" data-toggle="tab"  status="9" href="">{% trans %}Invoice{% endtrans %}</a></li>
            <li id="addcashmemo" class="godownhide submenuitem businessmenu"><a class=" submenu_item kmd" data-toggle="tab"  href="">{% trans %}Cash Memo{% endtrans %}</a></li>
            <!--Rejection note work <li class="submenuitem businessmenu"><a class="" data-toggle="tab" id="rejectionnote" href="">{% trans %}Rejection Note{% endtrans %}</a></li>-->	
            <li id="drcrnote" class="godownhide submenuitem businessmenu"><a class="  submenu_item kmd" data-toggle="tab"  href="">{% trans %}Debit/Credit Note{% endtrans %}</a></li>
            <li id="purchaseorder" class="submenuitem businessmenu godownhide hidemenu"><a class="submenu_item kmd" data-toggle="tab" href="">{% trans %}Purchase/Sales Order{% endtrans %}</a></li>
            <li id="createtransfernote" class="submenuitem businessmenu hidemenu"><a class="submenu_item kmd" data-toggle="tab"  href="">{% trans %}Transfer Note{% endtrans %}</a></li>
            <li id="rejectionnote" class="submenuitem businessmenu godownhide hidemenu"><a class="submenu_item kmd" data-toggle="tab"  href="">{% trans %}Rejection Note{% endtrans %}</a></li>

            <li id="gstmenu_id" class="godownhide submenuli" data-menuname="gstmenuitem">
              <a href="" id="gstmenu" class="gstdropdownmenu submenu kmd" data-menuname="gstmenuitem" role="button" aria-haspopup="true" aria-expanded="false">{% trans %}GST{% endtrans %}  <i class="fa fa-caret-down"></i></a>
            </li>
            <li id="r1" class="submenuitem gstmenuitem"><a class="submenu_item kmd" data-toggle="tab"  href="">{% trans %}R1{% endtrans %}</a></li>
            <li id="gstsummary" class="submenuitem gstmenuitem"><a class="submenu_item kmd" href="" data-toggle="tab" >{% trans %}GST Summary{% endtrans %}</a></li>
            
            <li id="report_li" class="submenuli reportpage" >
                <a href="" id="report_a" class="submenu kmd" role="button" aria-haspopup="true" aria-expanded="false">{% trans %}Report{% endtrans %}</a>
              </li>

            <li id="" class="submenuli intauditor " data-menuname="administrationmenu">
              <a href="" id="administration" class=" submenu kmd" data-menuname="administrationmenu" role="button" aria-haspopup="true" aria-expanded="false">{% trans %}Administration{% endtrans %}  <i class="fa fa-caret-down"></i></a>
            </li>
            <li id="user" class="hideoperator godownhide closebooks hidemanager submenuitem administrationmenu"><a class="submenu_item kmd" data-toggle="tab"  href="">{% trans %}User{% endtrans %}</a></li>
            <li id="showedituser" class="submenuitem administrationmenu"><a class="submenu_item kmd" data-toggle="tab"  href="">{% trans %}Change Password{% endtrans %}</a></li>
            <li id="showclosebooks" class="hideoperator godownhide hidemanager rollover submenuitem administrationmenu"><a class="submenu_item kmd" data-toggle="tab"  href="">{% trans %}Close Books/Roll Over{% endtrans %}</a></li>
            
            <li id="orgpref" class="hideoperator hidemanager godownhide  submenuitem administrationmenu closebooks"><a class="submenu_item kmd" data-toggle="tab"  href="">{% trans %}Company Preferences{% endtrans %}</a></li>
            <li id="exportdata" class="hideoperator hidemanager godownhide submenuitem administrationmenu"><a class="submenu_item kmd" data-toggle="modal" href="">{% trans %}Export Data{% endtrans %}</a></li>
            <li id="tallyimport" class="hideoperator hidemanager godownhide submenuitem administrationmenu"><a class="submenu_item kmd" data-toggle="tab"  href="">{% trans %}Import Data{% endtrans %}</a></li>
    
            <li id="deletecompany" class="hideoperator hidemanager godownhide submenuitem administrationmenu"><a class="submenu_item kmd" data-toggle="tab"  href="">{% trans %}Delete Company{% endtrans %}</a></li>
            
            <li id="helpdropdown" class="submenuli" data-menuname="helpmenu">
              <a href="" id="help" class="submenu kmd"  data-menuname="helpmenu" role="button" aria-haspopup="true" aria-expanded="false">{% trans %}Help{% endtrans %}  <i class="fa fa-caret-down"></i></a>
            </li>
            <li onclick="location.href='http://support.gnukhata.in/'" class="submenuitem helpmenu"><a class="submenu_item kmd" id="support" href="http://support.gnukhata.in/">{% trans %}Support{% endtrans %}</a></li>
            <li onclick="location.href='http://gnukhata.in/manual.pdf'" class="submenuitem helpmenu"><a class="submenu_item kmd" id="manual" target="_blank" href="http://gnukhata.in/manual.pdf">{% trans %}Manual{% endtrans %}</a></li>
            
            <li id="shortcuts" class="submenuitem helpmenu "><a class="submenu_item kmd " data-toggle="tab" href="">{% trans %}Shortcuts{% endtrans %}</a></li>

            <li id="authors" class="submenuitem helpmenu "><a class="submenu_item kmd " data-toggle="tab"  href="" >{% trans %}Authors{% endtrans %}</a></li>
            
            <li id="license" class="submenuitem helpmenu"><a class="submenu_item kmd" data-toggle="tab"  href="" >{% trans %}License{% endtrans %}</a></li>
            <li id="about" class="submenuitem helpmenu"><a class="submenu_item kmd" data-toggle="tab"  href="">{% trans %}About{% endtrans %}</a></li>		
          </ul>
        </nav>
        <div id="navhead" class="navbar-header hidden-print">
          <button id="iconbar" type="button" class="navbar-toggle collapsed hidden-print" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">{% trans %}Toggle navigation{% endtrans %}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="margin-left:15px; margin-top:-5px;" href=""><img src="{{request.static_url('gkwebapp:static/images/icon.svg')}}" alt="GNUKhata Icon" style="width:30px;height:30px;"/></a>
          <a class="navbar-brand namestyle readable_design" href="">{% trans %}GNUKhata {% endtrans %}</a>
          <a class="navbar-brand readable_design" style="margin-left:-20px">v6.0</a>
        </div>
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li id="nt" class="readable_design"><a class="newtabmenu hidden-print" id="newt" style="font-size:16px" target="_blank" href="/" accesskey="b">{% trans %}New Ta<u>b</u>{% endtrans%}</a></li>

            <li id="themesdropdown" class="dropdown readable_design">
              <a href="" id="themes" class="dropdown-toggle readable_design hidden-print" style="font-size:16px" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans %}Theme{% endtrans %}</a>
              <ul class="dropdown-menu scrollable">
                <li><a class="themesmenu" id="Default" href="">{% trans %}Default{% endtrans %}<span id="Defaultspan"  class="glyphicon glyphicon-ok" style="margin-left: 10px; display: none;" aria-hidden="true"></span><span class="sr-only">selected</span></a></li>
                <li><a class="themesmenu" id="Cerulean" href="">{% trans %}Cerulean{% endtrans %}<span id="Ceruleanspan" class="glyphicon glyphicon-ok" style="margin-left: 10px; display: none;" aria-hidden="true"></span><span class="sr-only">selected</span></a></li>
                <li><a class="themesmenu" id="Cosmo" href="">{% trans %}Cosmo{% endtrans %}<span id="Cosmospan" class="glyphicon glyphicon-ok" style="margin-left: 10px; display: none;" aria-hidden="true"></span><span class="sr-only">selected</span></a></li>
                <li><a class="themesmenu" id="Flatly" href="">{% trans %}Flatly{% endtrans %}<span id="Flatlyspan" class="glyphicon glyphicon-ok" style="margin-left: 10px; display: none;" aria-hidden="true"></span><span class="sr-only">selected</span></a></li>
                <li><a class="themesmenu" id="Journal" href="">{% trans %}Journal{% endtrans %}<span id="Journalspan" class="glyphicon glyphicon-ok" style="margin-left: 10px; display: none;" aria-hidden="true"></span><span class="sr-only">selected</span></a></li>
                <li><a class="themesmenu" id="Lumen" href="">{% trans %}Lumen{% endtrans %}<span id="Lumenspan" class="glyphicon glyphicon-ok" style="margin-left: 10px; display: none;" aria-hidden="true"></span><span class="sr-only">selected</span></a></li>
                <li><a class="themesmenu" id="Readable" href="">{% trans %}Readable{% endtrans %}<span id="Readablespan" class="glyphicon glyphicon-ok" style="margin-left: 10px; display: none;" aria-hidden="true"></span><span class="sr-only">selected</span></a></li>
                <li><a class="themesmenu" id="Sandstone" href="">{% trans %}Sandstone{% endtrans %}<span id="Sandstonespan" class="glyphicon glyphicon-ok" style="margin-left: 10px; display: none;" aria-hidden="true"></span><span class="sr-only">selected</span></a></li>
                <li><a class="themesmenu" id="Simplex" href="">{% trans %}Simplex{% endtrans %}<span id="Simplexspan" class="glyphicon glyphicon-ok" style="margin-left: 10px; display: none;" aria-hidden="true"></span><span class="sr-only">selected</span></a></li>
                <li><a class="themesmenu" id="Spacelab" href="">{% trans %}Spacelab{% endtrans %}<span id="Spacelabspan" class="glyphicon glyphicon-ok" style="margin-left: 10px; display: none;" aria-hidden="true"></span><span class="sr-only">selected</span></a></li>
                <li><a class="themesmenu" id="Ubuntu" href="">{% trans %}Ubuntu{% endtrans %}<span id="Ubuntuspan" class="glyphicon glyphicon-ok" style="margin-left: 10px; display: none;" aria-hidden="true"></span><span class="sr-only">selected</span></a></li>
                <li><a class="themesmenu" id="Yeti" href="">{% trans %}Yeti{% endtrans %}<span id="Yetispan" class="glyphicon glyphicon-ok" style="margin-left: 10px; display: none;" aria-hidden="true"></span><span class="sr-only">selected</span></a></li>
              </ul>
            </li>
            <!--  
                 <li id="langdropdown" class="dropdown">
                 <a href="" id="lang" class="langmenu" role="button" aria-haspopup="true" aria-expanded="false">{% trans %}Lan<u>g</u>uage{% endtrans %}</a>
                 <ul class="dropdown-menu">
                 <li><a  class="langmenu" id="eng" href="/locale?language=en">{% trans %}English{% endtrans %}</a></li>
                 <li><a  class="langmenu" id="mar" href="/locale?language=mr">{% trans %}मराठी{% endtrans %}</a></li>
                 <li><a  class="langmenu" id="mal" href="/locale?language=ml">{% trans %}മലയാളം{% endtrans %}</a></li>
                 </ul>
                 </li>-->
            <li id="userdropdown" class="dropdown readable_design">
              <a class="usermenu dropdown-toggle hidden-print"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="font-size:2rem;color:black;margin-right:12px; text-decoration: none; " href=""><i id="loginicon" class="fa fa-user-circle"></i></a>
              <ul class="dropdown-menu">
                <li><a class="usermenu" data-toggle="tab" id="logout" href="">{% trans %}Logout{% endtrans %}</a></li>
                <li><a class="usermenu" data-toggle="tab" id="changeorg" href="">{% trans %}Change Company{% endtrans %}</a></li>
                <li><a class="usermenu" data-toggle="tab" id="changecompany" href="">{% trans %}Change Password{% endtrans %}</a></li>
              </ul></li>
            
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </header>

    <div class="container-fluid hidden-print" style="box-shadow: 0 0.2px 0.5px 0 rgba(0, 0, 0,0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19); margin-left: 10px; margin-right: 10px">
      <ul id="mainshellticker" style="list-style-type: none; padding: 0; overflow: hidden; background-color: rgb(248,248,248); height: 20px; border-radius: 2px;">
	<li style="float: left;"><a data-toggle="tab" style="margin-left: 10px; display: block; color: #333; padding: 1px 1px; text-decoration: none;" id="orgdata" href=""></a></li>
	<li style="float: left;"><a data-toggle="tab" style="margin-left: 10px; display: block; color: #333; padding: 1px 1px; text-decoration: none;" id="userdata" href=""></a></li>
	<li style="float: right;"><a style="margin-right: 10px; display: block; color: #333; padding: 1px 1px; text-decoration: none;" id="yeardata" href=""></a></li>
      </ul>
    </div>

    <main role="main">
      <div class="visible-print printorgdetails" id="printorgnameyear" style="text-align:center;"><b id="printorgname"></b><br>(<i>{% trans %}FY{% endtrans %} :</i><b id="printyears"></b>)</div>
      <div id="logodiv" style=" height:100vh;">
        <div class=" text-center " style=" width:250px;margin:0; position: absolute;top: 50%;left: 50%;margin-right: -50%;transform: translate(-50%, -50%);">                
            <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            <p style="font-weight:bold; font-size:1.5em; color:#4343a1; padding:5%">{% trans %}Loading Dashboard...{% endtrans %}</p>                  
        </div>
      </div>

      <div id="info" style="margin-top: 5px; margin-bottom: 10px;" class="container-fluid tab-pane " hidden>

        <div class="row godownhide internalaud accountinghide">
            <div class="col-sm-6 dashboardouterdiv">
                <div style="position:relative;">
                  <div class="dashboarddiv shadow">
                    <div class="row">
                        <div class=""style="margin-left:15px;margin-top:-10px"> 
                            <h5 style="color:#333;font-weight: bold; ">Workflow</h5 >
                          </div>
                    </div>
                      <div class="row">
                      <div class="row">
                        <div class="col-xs-6">
                            <div class="add_custsup flowdiv animationContainer enableCircleHoverAnimation ">

                                <div class="text-center" style="font-size:7rem">
                                  <i class="fa fa-user-plus fa-7x"></i>
                                </div>
                                <br>
                                <div class="text-center" style="width:100%">Customer and Supplier</div>
                              </div>
                        </div>
                        <div class="col-xs-6">
                            <div class=" flowdiv add_prod">
                                <div class="text-center" style="font-size:7rem">
                                  <i class="fa fa-cart-plus fa-7x"></i>
                                </div>
                                <br>
                                <div class="text-center">Product/ Service</div>
                              </div>
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-xs-6">
                              <div id="add_invoice" class="flowdiv text-center">
                                  <div class="text-center" style="font-size:7rem">
                                    <i class="fa fa-file fa-7x"></i>
                                  </div>
                                  <br>
                                  <div class="text-center">
                                    Invoice
                                  </div>
                                </div>
                          </div>
                          <div class="col-xs-6">
                              <div id="report_page" class="flowdiv text-center">
                                  <div class="text-center" style="font-size:7rem">
                                    <i class="fa fa-file-text fa-7x"></i>
                                  </div>
                                  <br>
                                  <div class="text-center">
                                    Report
                                  </div>
                                </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            <div class="col-sm-6 dashboardouterdiv">
              <div style="position:relative;">
                <div class="dashboarddiv shadow">
                    <div class="pull-left"style="margin-top:-15px"> 
                    <h5 style="color:#333;font-weight: bold; ">Bank and Cash Balance</h5 >
                  </div>
                  <div>
                  <canvas id="linechart" style="height:260px !important; width:100%;margin-top:-30px"></canvas>
                  </div>
                 <div> 
                   <button id="accountsbal" class="btn btn-danger btn-sm" style="float:right;margin-top:-35px">View Account wise Balance</button>
                </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row godownhide internalaud hidevoucher">
              <div class="col-sm-6 dashboardouterdiv">
                  <div style="position:relative;">
                    <div class="dashboarddiv shadow">
                      <div class="row">
                          <div class=""style="margin-left:15px;margin-top:-10px"> 
                              <h5 style="color:#333;font-weight: bold; ">Voucher</h5 >
                            </div>
                      </div>
                        <div class="row">
                        <div class="row">
                          <div class="col-xs-6">
                              <div id="add_receipt" class="flowdiv text-center">
                                  <div class="text-center" style="font-size:7rem">
                                    <i class="fa fa-file fa-7x"></i>
                                  </div>
                                  <br>
                                  <div class="text-center">
                                    Receipt
                                  </div>
                                </div>
                          </div>
                          <div class="col-xs-6">
                              <div id="add_payment" class="flowdiv text-center">
                                  <div class="text-center" style="font-size:7rem">
                                    <i class="fa fa-file fa-7x"></i>
                                  </div>
                                  <br>
                                  <div class="text-center">
                                    Payment
                                  </div>
                                </div>
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div id="add_journal" class="flowdiv text-center">
                                    <div class="text-center" style="font-size:7rem">
                                      <i class="fa fa-file fa-7x"></i>
                                    </div>
                                    <br>
                                    <div class="text-center">
                                      Journal
                                    </div>
                                  </div>
                            </div>
                            <div class="col-xs-6">
                                <div id="add_contra" class="flowdiv text-center">
                                    <div class="text-center" style="font-size:7rem">
                                      <i class="fa fa-file fa-7x"></i>
                                    </div>
                                    <br>
                                    <div class="text-center">
                                      Contra
                                    </div>
                                  </div>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              <div class="col-sm-6 dashboardouterdiv">
              <div style="position:relative;">
                <div class="dashboarddiv shadow">
                    <div class="pull-left"style="margin-top:-15px"> 
                    <h5 style="color:#333;font-weight: bold; ">Bank and Cash Balance</h5 >
                  </div>
                  <div>
                  <canvas id="linechart" style="height:260px !important; width:100%;margin-top:-30px"></canvas>
                  </div>
                 <div> 
                   <button id="accountsbal" class="btn btn-danger btn-sm" style="float:right;margin-top:-35px">View Account wise Balance</button>
                </div>
                </div>
              </div>
            </div>              
            </div>

        <div class="row internalaud accountinghide godownhide">
          <div class="col-sm-6 dashboardouterdiv">
            <div style="position:relative;">
              <div class="dashboarddiv shadow">
                <div> 
                  <div class="pull-left" style="margin-top:-10px">
                    <h5 style="color:#333; font-weight: bold;">Make Payment</h5>
                  </div>
                  <div class="pull-right dropdown">
                    <a class="dropdown-toggle" style="padding: 10px" id="menu1" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                      <li class="active" id="pur_amount_wise"role="presentation"><a role="menuitem" href="#">Amount Wise</a></li>
                      <li id="pur_date_wise" role="presentation"><a role="menuitem" href="#">Date Wise</a></li>
                    </ul>
                  </div> 
                </div>
                <div>
                  <table id="" class="table table-responsive table-bordered table-striped invoiceslist dashtable">
                    <thead>
                      <tr>
                        <td class="col-xs-8" style="font-weight:150;">Invoice</td>
                        <td class="col-xs-4" style="font-weight:150;text-align:right;">Pending Amount</td>
                      </tr>
                    </thead>
                    <tbody id="fivepurchaseinvoicelist">
                    </tbody>
                  </table>
                </div>
                <div class="text-center"style="margin-top:-10px">
                  <button id="make_payment" style="width:45%" class="btn btn-danger btn-sm">Make Payment</button>
                  <button id="Adjustable_purchase_bill" style="width:45%" class="btn btn-danger btn-sm" >Adjustable Bill</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 dashboardouterdiv">
            <div style="position:relative;">
              <div class="dashboarddiv shadow">
                <div> 
                  <div class="pull-left" style="margin-top:-10px">
                    <h5 style="color:#333;font-weight: bold;">Receive Payment</h5>
                  </div>
                  <div class="pull-right dropdown">
                    <a class="" style="padding: 10px" id="menu1" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                      <li class="active" id="sale_amount_wise"role="presentation"><a role="menuitem" href="#">Amount Wise</a></li>
                      <li id="sale_date_wise" role="presentation"><a role="menuitem" href="#">Date Wise</a></li>
                    </ul>
                  </div> 
                </div>
                <div>
                  <table id="" class="table table-responsive table-bordered table-striped invoiceslist dashtable">
                    <thead>
                      <tr>
                        <td class="col-xs-8" style="font-weight:150;">Invoice</td>
                        <td class="col-xs-4" style="font-weight:150;text-align:right;">Pending Amount</td>
                      </tr>
                    </thead>
                    <tbody id="fivesaleinvoicelist">

                    </tbody>
                  </table>
                </div>
                <div class="text-center" style="margin-top:-10px">
                  <button id="receipt_payment" style="width:45%" class="btn btn-danger btn-sm">Receive Payment</button>
                  <button id="Adjustable_sale_bill" style="width:45%" class="btn btn-danger btn-sm" >Adjustable Bill</button>
                </div> 
              </div>
            </div>
          </div>
        </div>
        <div class="row godownhide adminhide operatorhide">
          <div class="col-sm-6 dashboardouterdiv">
            <div style="position:relative;">
              <div class="dashboarddiv shadow">
                <div class="pull-left"style="margin-top:-10px"> 
                  <h5 style="color:#333;font-weight: bold;">Assets and Liabilities</h5>
                </div>
                <br>
                <div style="margin-top:-30px">
                  <canvas id="doughnut-chart"></canvas>
                </div>
                <div>
                  <button class="btn btn-danger btn-sm" id="balance_sheet" style="float:right;margin-top:-25px">View details</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 dashboardouterdiv">
            <div style="position:relative;">
              <div class="dashboarddiv shadow">
                <div class="pull-left"style="margin-top:-10px"> 
                  <h5 style="color:#333;font-weight: bold; ">Income and Expense</h5>
                </div>
                <br>
                <div style="margin-top:-30px">
                  <canvas id="pieChart"></canvas>
                </div>
                <div>
                  <button class="btn btn-danger btn-sm" id="profit_loss" style="float:right;margin-top:-25px">View details</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row godownhide accountinghide">
          <div class="col-sm-6 dashboardouterdiv">
            <div style="position:relative;">
              <div class="dashboarddiv shadow">
                <h5 style="color:#333;font-weight: bold; ">Purchase Invoice</h5 >
                <canvas id="chart_content_purchase" style="height:280px !important; width:100%;margin-top: -10px"></canvas>
              </div>
            </div>
          </div>
          <div class="col-sm-6 dashboardouterdiv">
            <div style="position:relative;">
              <div class="dashboarddiv shadow">
                <div>
                  <h5 style="color:#333;font-weight: bold;">Sale Invoice</h5 >
                  <canvas id="chart_content_sale" style="height:280px !important; width:100%;margin-top: -10px"></canvas>  
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row accountinghide adminhide delchalhide">
          <div class="col-sm-6 dashboardouterdiv">
            <div style="position:relative;">
              <div class="dashboarddiv shadow">
                <h5 style="color:#333;font-weight: bold;">Delivery In</h5 >
                <canvas id="deliveryin_id" style="height:280px !important; width:100%;"></canvas>
              </div>
            </div>
          </div>
          <div class="col-sm-6 dashboardouterdiv">
            <div style="position:relative;">
              <div class="dashboarddiv shadow">
                <h5 style="color:#333;font-weight: bold;">Delivery Out</h5 >
                <canvas id="deliveryout_id" style="height:280px !important; width:100%;"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="row internalaud accountinghide adminhide operatorhide">
          <div class="col-sm-6 dashboardouterdiv">
            <div style="position:relative;">
              <div class="dashboarddiv shadow">
                <div>
                  <div class="pull-left">
                    <h5 style="color:#333;font-weight: bold;">Transfer Note</h5 >
                  </div>
                  <div class="pull-rigth" style="float:right">
                    <select id="godownwise"></select> 
                  </div>
                </div>
                <div id="transfernotediv">
                  <canvas id="transfer_note" style="height:280px !important; width:100%;margin-top: -10px"></canvas>
                </div></div>
            </div>
          </div>
          <div class="col-sm-6 dashboardouterdiv">
            <div style="position:relative;">
              <div class="dashboarddiv shadow">
                <div>
                  <div class="pull-left">
                    <h5 style="color:#333;font-weight: bold;">Stock on Hand</h5 >
                  </div>
                  <div class="pull-right" >
                    <select id="godownwisestock"></select> 
                  </div>
                </div>
                <div id="showstock">
                  <table class="table table-responsive table-bordered table-striped invoiceslist dashtable">
                    <thead >
                      <tr>
                        <td class="col-xs-8" style="font-weight:150;">Product and Service</td>
                        <td class="col-xs-4" style="font-weight:150;text-align:right;">Stock</td>
                      </tr>
                    </thead>
                    <tbody id="stock_on_hand">
                      
                    </tbody>
                  </table>
                </div>
                <div>
                  <button class="btn btn-danger add_prod" style="float:right;margin-top:-17px">Add Product/ Service</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row internalaud godownhide accountinghide">
          <div class="col-sm-6 dashboardouterdiv">
            <div style="position:relative;">
              <div class="dashboarddiv shadow">
                <div class="pull-left"> 
                  <h5 style="color:#333;font-weight: bold;">Most Valued Customer</h5>
                </div>
                <div>
                  <table id="" class="table table-responsive table-bordered table-striped invoiceslist dashtable">
                    <thead>
                      <tr>
                        <td class="col-xs-8" style="font-weight:150;">Customer Name</td>
                        <td class="col-xs-4" style="font-weight:150;text-align:right;">Amount</td>
                      </tr>
                    </thead>
                    <tbody id="topfivecust">
                      
                    </tbody>
                  </table>
                </div>
                <div>
                  <button class="btn btn-danger btn-sm add_custsup" style="float:right;margin-top:-15px">Add Customer</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 dashboardouterdiv">
            <div style="position:relative;">
              <div class="dashboarddiv shadow">
                <div class="pull-left"> 
                  <h5 style="color:#333;font-weight: bold;">Most Valued Supplier</h5>
                </div>
                <div>
                  <table id="" class="table table-responsive table-bordered table-striped invoiceslist dashtable">
                    <thead>
                      <tr>
                        <td class="col-xs-8" style="font-weight:150;">Supplier Name</td>
                        <td class="col-xs-4" style="font-weight:150;text-align:right;">Invoice Count</td>
                      </tr>
                    </thead>
                    <tbody id="topfivesup">
                      
                    </tbody>
                  </table>
                </div>
                <div>
                  <button class="btn btn-danger btn-sm add_sup" style="float:right;margin-top:-15px">Add Supplier</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row internalaud godownhide accountinghide hidebillwisecompany">
          <div class="col-sm-6 dashboardouterdiv">
            <div style="position:relative;">
              <div class="dashboarddiv shadow">
                <div class="pull-left"> 
                  <h5 style="color:#333;font-weight: bold;">Most Sold Product and Service</h5>
                </div>
                <div>
                  <table id="" class="table table-responsive table-bordered table-striped invoiceslist dashtable">
                    <thead>
                      <tr>
                        <td class="col-xs-8" style="font-weight:150;">Product and Service</td>
                        <td class="col-xs-4" style="font-weight:150;text-align:right;">Stock on Hand</td>
                      </tr>
                    </thead>
                    <tbody id="topfivesoldprod">
                      
                    </tbody>
                  </table>
                </div>
                <div>
                  <button class="btn btn-danger btn-sm add_prod" style="float:right;margin-top:-17px">Add Product/ Service</button>
                </div>
              </div>
            </div>
          </div>
          <br class="hidden-mg hidden-lg"> 
          <div class="col-sm-6 dashboardouterdiv">
            <div style="position:relative;">
              <div class="dashboarddiv shadow">
                <div class="pull-left"> 
                  <h5 style="color:#333;font-weight: bold;">Most Purchased Product and Service</h5>
                </div>
                <div>
                  <table id="" class="table table-responsive table-bordered table-striped invoiceslist dashtable">
                    <thead>
                      <tr>
                        <td class="col-xs-8" style="font-weight:150;">Product and Service</td>
                        <td class="col-xs-4" style="font-weight:150;text-align:right;">Invoice Count</td>
                      </tr>
                    </thead>
                    <tbody id="topfiveboughtprod">
                      
                    </tbody>
                  </table>
                </div>
                <div>
                  <button class="btn btn-danger btn-sm add_prod" style="float:right;margin-top:-15px">Add Product/ Service</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row godownhide internalaud operatorhide">
          <div class="col-sm-6 dashboardouterdiv">
            <div style="position:relative;">
              <div class="dashboarddiv shadow">
                <div class="pull-left"style="margin-top:-10px"> 
                  <h5 style="color:#333;font-weight: bold;">Assets and Liabilities</h5>
                </div>
                <br>
                <div style="margin-top:-30px">
                  <canvas id="doughnut-chart"></canvas>
                </div>
                <div>
                  <button class="btn btn-danger btn-sm" id="balance_sheet" style="float:right;margin-top:-35px">View details</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 dashboardouterdiv">
            <div style="position:relative;">
              <div class="dashboarddiv shadow">
                <div class="pull-left"style="margin-top:-10px"> 
                  <h5 style="color:#333;font-weight: bold;">Income and Expense</h5>
                </div>
                <br>
                <div style="margin-top:-30px">
                  <canvas id="pieChart"></canvas>
                </div>
                <div>
                  <button class="btn btn-danger btn-sm" id="profit_loss" style="float:right;margin-top:-35px">View details</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade modal-sm col-xs-offset-4 " id="inventorymodal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog">
	  <div class="modal-content">
	    <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="">Activate Inventory</h4>
	    </div>
	    <div class="modal-body">
              <div class="alert alert-success" id="inventory_activate_success-alert"  aria-live="rude" role="alert" hidden>

                {% trans %}Inventory module activated.{% endtrans %}
              </div>
              <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" id ="inv_no"><i class="fa fa-times" aria-hidden="true"></i> {% trans %}No{% endtrans %}</button>
              <button type="button" class="btn btn-primary btn-sm" id ="inv_yes"><i class="fa fa-check" aria-hidden="true"></i> {% trans %}Yes{% endtrans %}</button>
	    </div>

	  </div>
        </div>
      </div>
      <div class="modal fade" id="newsmodal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog">
	  <div class="modal-content">
	    <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="">Tax News</h4>
	    </div>
	    <div class="modal-body">
              <div class="alert alert-success" id="inventory_activate_success-alert"  aria-live="rude" role="alert" hidden>

                {% trans %}Connection Failed.{% endtrans %}
              </div>
	      <div id="rss-feeddiv" class="row">
	        <div class="col-sm-12" id="taxfeedmessage">
		  <h1 style="margin-top:30%; text-align:center;">Click View button to fetch news.</h1>
	        </div>
	        <div class ="col-md-6 col-sm-12" id="gstindia" hidden>
		  <h3><a href="https://www.gstindia.com" target="_blank" style="color:#333">{%trans%}GST INDIA{%endtrans%}</a></h3>
		  <div id="rss-feed"></div>
	        </div>
	        <div class ="col-md-6 col-sm-12" id="incometaxindia" hidden>
		  <h3><a href="https://www.gstindia.com" target="_blank" style="color:#333">{%trans%}INCOME TAX INDIA{%endtrans%}</a></h3>
		  <div id="rss-feed2"></div>
	        </div>
	      </div>
              <div>
	        <button type="button" class="btn btn-primary btn-sm" id="viewnews" style="margin-top:10px; margin-bottom:10px;"><i class="fa fa-eye" aria-hidden="true"></i> {% trans %}View{% endtrans %}</button>
	      </div>
	      <div>
	        <small class="text-danger">
		  Please make sure you have a working internet connection.
	        </small>
	      </div>
	    </div>

	  </div>
        </div>
      </div>
      <div class="modal fade" id="orgprefmodal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" style="margin-left: auto;margin-right: auto;">
        <div class="modal-dialog ">
	  <div class="modal-content">
	    <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="">Company Preferences</h4>
	    </div>
	    <div class="modal-body">
              <div class="alert alert-success" id="orgpref-alert"  aria-live="rude" role="alert" hidden>
                {% trans %}Company Preferences updated.{% endtrans %}
              </div>

              <div class="form-group">
  		<label >{%trans%}How would you like to use GNUKhata?{%endtrans%}</label><br>

	        <div class="radio" style="margin-left:15px">
		  <label><input type="radio" class="iib" name="orgpref" id="onlyaccradio" aria-label="">&nbsp {% trans %}Accounting only{% endtrans %}.</label>
                </div>
	        <div class="radio" style="margin-left:15px">
		  <label><input type="radio" class="iib" name="orgpref" id="invsbillradio" aria-label="" checked>&nbsp {% trans %}Invoicing with Billwise Accounting{% endtrans %}.</label>
	        </div>
                <div class="radio" style="margin-left:15px">
                  <label><input type="radio" class="iib" name="orgpref" id="invinvsbillradio" aria-label=""> &nbsp {% trans %}Inventory with Invoicing and Billwise Accounting{% endtrans %}.</label>
                </div>
	        <div class="form-group" style="margin-top:15px">
		  <input type="checkbox" id="mode">
		  <label for="mode">{% trans %}Use Simple Mode for Receipt and Payment Vouchers. {% endtrans %}</label>
                </div>
              </div>
	      <div id="ledgerdiv">
	        <div class="form-group" id="salesprefdiv">
		  <input type="checkbox" id="sales">
		  <label for="sales">{%trans%}Generate Accounting Entries for Documents.{%endtrans%}</label>
	        </div>
	        <div class="form-inline" style="margin-top:-10px">
		  <div class="radio" style="margin-left:15px">
        	    <label><input type="radio" class="ledger nopadding orgfields" name="ledger" id="singlesales" aria-label="">&nbsp {% trans %}Single Sales/Purchase Ledger Account{% endtrans %}.</label>
        	  </div>
		  <div class="radio" style="margin-left:15px">
        	    <label><input type="radio" class="ledger nopadding orgfields" name="ledger" id="multiplesales" aria-label="" checked>&nbsp {% trans %}Per Product Sale/Purchase Ledger Account{% endtrans %}.</label>
		  </div>
	        </div>
	      </div>
	      <br>
	      <div class="voucherno">
	        <div class="form-group">
		  <input type="checkbox" id="avno">
		  <label for="voucherno">{%trans%}Use System Generated Voucher Numbering.{%endtrans%}</label>
	        </div>
	      <div class="invoice_challanno">
	        <div class="form-group">
		  <input type="checkbox" id="ainvno">
		  <label for="invoice_challanno">{%trans%}Use System Generated Invoice Numbering.{%endtrans%}</label>
	        </div>
	        <br>
	        <small class="form-text text-muted common">Use 'Enter' key to navigate downwards and 'Up' arrow key to navigate upwards.</small><br><br>
	      </div>
	      

	      <button type="button" class="btn btn-success btn-sm" id ="orgprefsave"><i class="fa fa-check" aria-hidden="true"></i> {% trans %}Save{% endtrans %}</button>
	      <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" id ="inv_no"><i class="fa fa-times" aria-hidden="true"></i> {% trans %}Cancel{% endtrans %}</button>
	    </div>

	  </div>
        </div>
      </div>

      <div class="container-fluid tab-pane" id="catsearchmodal">

      </div>
    <div id="msspinmodal" tabindex="-1" class="modal text-center fade" role="dialog">
        <div class="vertical-alignment-helper">
	  <div id="msspinmodalcontent" class="modal-content vertical-align-center">
            <div class="modal-body">
              <i class="fa fa-spinner fa-spin" style="color:white; font-size:50px"></i>
            </div>
	  </div>
        </div>
      </div>
    </main>
    <script src="{{request.static_url('gkwebapp:static/js/jquery-2.2.0.min.js')}}"></script>
    <script src="{{request.static_url('gkwebapp:static/js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/jquery.autotab.min.js')}}"></script>
    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/jquery.numeric.min.js')}}"></script>
    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/date.js')}}"></script>
    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/jquery-ui.js')}}"></script>
    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/moment.min.js')}}"></script>
    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/jquery.rss.js')}}"></script>
    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/mainshell.js')}}"></script>
    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/showvoucher.js')}}"></script>
    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/jquery.browser.js')}}"></script>
    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/jquery.searchabledropdown-1.0.8.min.js')}}"></script>
    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/dashboard.js')}}"></script>
    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/Chart.min.js')}}"></script>
    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/drawer.min.js')}}"></script>
    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/iscroll.min.js')}}"></script>

  </body>
</html>
