<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% trans %}GNUKhata{% endtrans %} | {% trans %}Budget Report{% endtrans %}</title>
  <style type="text/css">

  td {
  	font-size: 70%;
  	color: black;
  }

  th {
  	font-size: 75%;
  }

  @page {
    size : 21cm 29.7cm;
    margin : 10mm 10mm 20mm 10mm
  }
  thead{
    display: table-header-group;
  }
  tfoot{
    display: table-footer-group;
  }
  .calign{
    text-align:center;
  }
  .lalign{
    text-align:left;
  }
  .dtwrap{
    width :5%
     }
 .smwrap{
  width:3%
 }

 .lngwrap{
  width:14%
 }
 .mdwrap{
  width:8%
 }

  </style>
</head>
<body>
  <div class="container-fluid ">
    <div class = "panel">
    {% if btype == '3'%}
        <center> <h4>Cash Budget Report  </h4></center> 
    {% else %}
        <center> <h4 id="profitlossname"> </h4></center>
    {% endif %}
        <div class="panel-body">
        <div ><center>
             <strong id="printbudgetdetails"> {{budgetdetails}} </strong> </center>
        </div>
        {% if btype == '3'%}
        <div class="table-responsive">
          <table id="mthltable" class=" table table-bordered table-condensed ">
            <thead class="bg-primary">
			    <tr>
			      <th  class="lngwrap text-center">{% trans %}Particulars {% endtrans %} </th>
			      <th  class="mdwrap text-center sgstfield">{% trans %}Budgeted{% endtrans %}</th>
			      <th  class="mdwrap text-center sgstfield">{% trans %}Actuals{% endtrans %}</th>
			      <th  class="mdwrap text-center igstfield">{% trans %}Variance{% endtrans %}</th>
                  <th  class="mdwrap text-center igstfield">{% trans %}Variance(%){% endtrans %}</th>
			    </tr>
			  </thead>
            <tbody>
                <tr>
                    <td> <font size='2' >Opening </font>
                    <br><div style="text-align:right">
                        {% for i in gkresult["openingacc"]%}
                            <i>{{i["accountname"]}}</i><br>
                        {% endfor %}
                        </div>
                    </td>
                    
                    <td style="text-align:right"><br>
                        {% for i in gkresult["openingacc"]%}
                            {{i["balance"]}}<br>
                        {% endfor %}
                    </td>
                    <td style="text-align:right"><br>
                        {% for i in gkresult["openingacc"]%}
                            {{i["balance"]}}<br>
                        {% endfor %}
                    </td>
                    <td style="text-align:right"><br>
                        {% for i in gkresult["openingacc"]%}
                            - <br>
                        {% endfor %}
                    </td>
                    <td style="text-align:right"><br>
                        {% for i in gkresult["openingacc"]%}
                            - <br>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right"> <font size='2' >Total</font>
                    </td>
                    <td style="text-align:right"> {{gkresult["opening"]}}
                    </td>
                    <td style="text-align:right"> {{gkresult["opening"]}}
                    </td>
                    <td style="text-align:right"> -
                    </td>
                    <td style="text-align:right"> -
                    </td>
                </tr>
                <tr>
                    <td> <font size='2' > Inflow </font>
                    <br><div style="text-align:right">
                        {% for i in gkresult["inflow"]%}
                            <i>{{i["accountname"]}}</i><br>
                        {% endfor %}
                        </div>
                    </td>
                    
                    <td style="text-align:right"><br>
                        {% for i in gkresult["inflow"]%}
                            {{i["budget"]}}<br>
                        {% endfor %}
                    </td>
                    <td style="text-align:right"><br>
                        {% for i in gkresult["inflow"]%}
                            {{i["actual"]}}<br>
                        {% endfor %}
                    </td>
                    <td style="text-align:right"><br>
                        {% for i in gkresult["inflow"]%}
                            {{i["var"]}}<br>
                        {% endfor %}
                    </td>
                    <td style="text-align:right"><br>
                        {% for i in gkresult["inflow"]%}
                            {% if i["varinpercent"] == '-' %}
                            {{i["varinpercent"]}} <br>
                            {% else %}
                            {{i["varinpercent"]}} % <br>
                            {%endif%}  
                        {% endfor %}
                    </td>

                </tr>
                <tr>
                    <td style="text-align:right"><font size='2' >Total</font>
                    </td>
                    <td style="text-align:right"> {{gkresult["budgetin"]}}
                    </td>
                    <td style="text-align:right"> {{gkresult["actualin"]}}
                    </td>
                    <td style="text-align:right"> {{gkresult["varin"]}}
                    </td>
                    <td style="text-align:right"> {{gkresult["varpercentin"]}} %
                    </td>
                </tr>
                <tr>
                    <td> <font size='2' >Outflow</font>
                    <br><div style="text-align:right">
                        {% for i in gkresult["outflow"]%}
                            <i>{{i["accountname"]}}</i><br>
                        {% endfor %}
                        </div>
                    </td>
                    
                    <td style="text-align:right"><br>
                        {% for i in gkresult["outflow"]%}
                            {{i["budget"]}}<br>
                        {% endfor %}
                    </td>
                    <td style="text-align:right"><br>
                        {% for i in gkresult["outflow"]%}
                            {{i["actual"]}}<br>
                        {% endfor %}
                    </td>
                    <td style="text-align:right"><br>
                        {% for i in gkresult["outflow"]%}
                            {{i["var"]}}<br>
                        {% endfor %}
                    </td>
                    <td style="text-align:right"><br>
                        {% for i in gkresult["outflow"]%}
                            {% if i["varinpercent"] == '-' %}
                            {{i["varinpercent"]}} <br>
                            {% else %}
                            {{i["varinpercent"]}} % <br>
                            {%endif%}
                        {% endfor %}
                    </td>
                </tr>
                <tr >
                    <td style="text-align:right"> <font size='2' >Total</font>
                    </td>
                    <td style="text-align:right"> {{gkresult["budgetout"]}}
                    </td>
                    <td style="text-align:right"> {{gkresult["actualout"]}}
                    </td>
                    <td style="text-align:right"> {{gkresult["varout"]}}
                    </td>
                    <td style="text-align:right"> {{gkresult["varpercentout"]}} %
                    </td>
                </tr>
                <tr>
                    <td> <font size='2' >Closing</font>
                    <br><div style="text-align:right">
                        {% for i in gkresult["closing"]%}
                            <i>{{i["accountname"]}}</i><br>
                        {% endfor %}
                        </div>
                    </td>
                    
                    <td style="text-align:right"><br>
                        {% for i in gkresult["closing"]%}
                            {{i["budget"]}}<br>
                        {% endfor %}
                    </td>
                    <td style="text-align:right"><br>
                        {% for i in gkresult["closing"]%}
                            {{i["balance"]}}<br>
                        {% endfor %}
                    </td>
                    <td style="text-align:right"><br>
                        {% for i in gkresult["closing"]%}
                            {{i["var"]}} <br>
                        {% endfor %}
                    </td>
                    <td style="text-align:right"><br>
                        {% for i in gkresult["closing"]%}
                            {% if i["varinpercent"] == '-' %}
                            {{i["varinpercent"]}} <br>
                            {% else %}
                            {{i["varinpercent"]}} % <br>
                            {%endif%}
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
          </table>
        </div>
            {%else%}
              <div class="table-responsive">
                <table id="mthltable" class=" table table-bordered table-condensed tabledesign">
                  <thead class="bg-primary">
                <tr>
                  <th  class="mdwrap text-center">{% trans %}Particulars {% endtrans %} </th>
                  <th  class="smwrap text-center sgstfield">{% trans %}Budgeted {% endtrans %}</th>
                  <th  class="smwrap text-center sgstfield">{% trans %}Actuals {% endtrans %}</th>
                  <th  class="smwrap text-center igstfield">{% trans %}Variance{% endtrans %}</th>
                  <th  class="smwrap text-center igstfield">{% trans %}Variance(%){% endtrans %}</th>
                </tr>
                  </thead>
                <tbody>
                   
                    <tr>
                        <td>
                        <font size='2' >Income </font> <br>
                        <div style="text-align:right">
                            {% for i in gkresult["incomeacc"] %}
                                <i>{{i["name"]}}</i> <br>
                            {% endfor %}
                        </div>
                        </td>
                        <td style="text-align:right"> <br>
                            {% for i in gkresult["incomeacc"] %}
                                {{i["budget"]}} <br>
                            {% endfor %}
                        </td>
                        <td style="text-align:right"><br>
                            {% for i in gkresult["incomeacc"] %}
                                {{i["actual"]}} <br>
                            {% endfor %}
                        </td>
                        <td style="text-align:right"><br>
                            {% for i in gkresult["incomeacc"] %}
                                {{i["var"]}} <br>
                            {% endfor %}
                        </td>
                        <td style="text-align:right"><br>
                            {% for i in gkresult["incomeacc"] %}
                                {% if i["varinpercent"] == '-' %}
                                    {{i["varinpercent"]}} <br>
                                {% else %}
                                    {{i["varinpercent"]}} % <br>
                                {%endif%}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr style="text-align:right">
                        <td >
                        <font size='2' >Total</font>
                        </td>
                        <td> {{gkresult["budgetincome"] }}
                        </td>
                        <td> {{gkresult["income"] }}
                        </td>
                        <td> {{gkresult["varincome"] }}
                        </td>
                        <td> {{gkresult["varinpercentincome"] }} %
                        </td>
                    </tr>
                     <tr>
                        <td>
                        <font size='2' >Expenses </font> <br>
                        <div style="text-align:right">
                            {% for i in gkresult["expenseacc"] %}
                                <i>{{i["name"]}}</i> <br>
                            {% endfor %}
                        </div>
                        </td>
                        <td style="text-align:right"> <br>
                            {% for i in gkresult["expenseacc"] %}
                                {{i["budget"]}} <br>
                            {% endfor %}
                        </td>
                        <td style="text-align:right"><br>
                            {% for i in gkresult["expenseacc"] %}
                                {{i["actual"]}} <br>
                            {% endfor %}
                        </td>
                        <td style="text-align:right"><br>
                            {% for i in gkresult["expenseacc"] %}
                                {{i["var"]}} <br>
                            {% endfor %}
                        </td>
                        <td style="text-align:right"><br>
                            {% for i in gkresult["expenseacc"] %}
                                {% if i["varinpercent"] == '-' %}
                                    {{i["varinpercent"]}} <br>
                                {% else %}
                                    {{i["varinpercent"]}} % <br>
                                {%endif%}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr style="text-align:right">
                        <td>
                        <font size='2' >Total</font>
                        </td>
                        <td> {{gkresult["budgetexpense"] }}
                        </td>
                        <td> {{gkresult["expense"] }}
                        </td>
                        <td> {{gkresult["varexpense"] }}
                        </td>
                        <td> {{gkresult["varinpercentexp"] }} %
                        </td>
                    </tr>
                    <tr style="text-align:right">
                        <td style="text-align:left"> <font size='2' >Net Profit</font>
                        </td>
                        <td> {{gkresult["budgetprofit"]}}
                        </td>
                        <td> {{gkresult["profit"]}}
                        </td>
                        <td> {{gkresult["varprofit"]}}
                        </td>
                        <td> {%if gkresult["varinpercentprofit"] == '-' %}
                                {{gkresult["varinpercentprofit"]}} 
                            {% else %}
                                {{gkresult["varinpercentprofit"]}} %
                                {%  endif %}
                        </td>
                    </tr>
                </tbody>
                </table>
                </div>
            {%endif%}
        </div>   
      </div>
      <center>
      <button type="button" class="btn btn-sm btn-danger hidden-print" id="loaback" name="back" accesskey="b"><i class="fa fa-arrow-left" aria-hidden="true"></i> {% trans %}<u>B</u>ack{% endtrans %}</button>   
  		<button type="button" class="btn btn-sm btn-info hidden-print" id="loaprint" accesskey="t">{% trans %}<i class="fa fa-print" aria-hidden="true"></i> Prin<u>t</u>{% endtrans %}</button>      
      </center>
    </div>
    <input type="hidden" id="printbudid" value="{{ budid }}">
    <input type="hidden" id="printbtype" value="{{ btype }}">
    <input type="hidden" id="menuflag" value="{{ menuflag }}">
</body> 
<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/budgetreport.js')}}"></script>
</html>